body{
    min-height: 100vh;
}

.container-categorias{
    height: 80vh;

}

.box-categorias{
    height: 60vh ;
    width: 90vh;

}

.container-form{
    width: 100%;
}

.input-nombre{
    width: 90%;
}

