body{
    min-height: 100vh;
}

.container-categorias{
    height: 70vh;

}

.box-categorias{
    height: 50vh ;
    width: 90vh;

}

.container-form-categorias{
    height: 20%;
}
.container-lista-categorias{
    height: 70%;
}

